.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(248,244,241, .5);
    z-index: 12;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #F2EBE6; */

.container{
    max-width: 40vw;
    background-color: white;
    padding: 3vh 6vw;
    border: 2px solid #231B17;
    border-radius: 5px ;
    color: #231B17;
    font-size: 1.2rem;
}

.question{
    text-align: center;
    margin-bottom: 5vh;
    font-weight: 600;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    flex-wrap: wrap;

}

.cancelButton, .logoutButton {
    color: #231B17;
    font-size: 1.2rem;
    padding: 8px 15px;
    background-color:#F2EBE6 ;
    border: 2px solid #E68541;
    border-radius: 5px;
    font-weight: 300;
}

.cancelButton:hover, .logoutButton:hover {
    background-color:#E68541;
    cursor: pointer;
}

.cancelButton:active, .logoutButton:active {
    transform: scale(.95);
}